<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>boringproxy.io</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link rel="icon" href="/logo.png">
  </head>
  
  <body>
    <div class='content'>
      <header>
        <nav class='navbar'>
          <a href='/' class='navbar__col'>
            <img class='navbar__image' src='/logo.svg' alt='logo'></img>
          </a>
          <span class='navbar__col'>
            <a class='navbar__link' href='/'>Home</a>
          </span>
          <span class='navbar__col'>
            <a class='navbar__link' href='https://github.com/boringproxy/boringproxy/releases'>Downloads</a>
          </span>
          <span class='navbar__col'>
            <a class='navbar__link' href='https://forum.indiebits.io/c/boringproxy-support/9'>Support</a>
          </span>
          <span class='navbar__col'>
            <a class='navbar__link' href='https://github.com/boringproxy/boringproxy'>Code</a>
          </span>
          <span class='navbar__col'>
            <a class='navbar__link' href='/mission/'>Mission</a>
          </span>
        </nav>
      </header>
